<h3>Request your Currencies</h3>
<form [formGroup]="currencyform" (ngSubmit)="Add()">
  <p>
    <div class="form-field">
      <label mat-label>Currency: </label>
      <input matInput id="currencyname" formControlName="currencyname" type="text" placeholder="placeholder" />
    </div>
  <p>
  <p>
    <div>
      <button mat-raised-button id="submitBtn" name="submitBtn"type="submit">Select Currency</button>
    </div>
  <p>
</form>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource">
      <ng-container matColumnDef="currencyname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency Name </th>
        <td mat-cell *matCellDef="let row "> {{ row.currencyname }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <button mat-raised-button id="saveBtn" name="saveBtn" (click)="Save()">Save Selection</button>
    </div>
</div>
